

services:
  # Frontend Service
  code:
    image: tianyunzhao/agent:v1
    ports:
      - "3000:80"
    environment:
      - DOCKER_HOST=tcp://host.docker.internal:2375
      - DOCKER_TLS_VERIFY=
      - DOCKER_CERT_PATH=
      - DOCKER_CONTEXT=default
      - NO_PROXY=localhost,host.docker.internal,127.0.0.1
      
      # 明确设置为空值
      - DOCKER_TLS_CERTDIR=
      - DOCKER_MACHINE_NAME=
      #大模型token
      - LLMTOKEN= 
      #大模型api接口地址
      - LLMURL=
    extra_hosts:
      # 确保能解析到主机
      - "host.docker.internal:host-gateway"
    networks:
      - app-network
    depends_on:
      # docker-daemon:
      #   condition: service_healthy
      mysql:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    volumes:
      # 挂载一个空的证书目录
      - docker-certs:/root/.docker:rw

  # Backend Service
  mysql:
    image: mysql:8.0.44
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "!QAZ2wsx"
      MYSQL_DATABASE: you_agent
      MYSQL_USER: agent
      MYSQL_PASSWORD: "!QAZ2wsx"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
      interval: 10s
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql

    networks:
      - app-network
  elasticsearch:
    image: elasticsearch:7.3.2
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node # 设置为单节点模式
      - ES_JAVA_OPTS=-Xms4g -Xmx4g # 设置 JVM 堆内存大小
      - xpack.security.enabled=false # 对于开发，可以暂时关闭安全认证
      - xpack.security.http.ssl.enabled=false
      - xpack.security.transport.ssl.enabled=false
      - ELASTIC_PASSWORD=!QAZ2wsx
      - KIBANA_SYSTEM_PASSWORD=!QAZ2wsx
    volumes:
      - ./es_data:/usr/share/elasticsearch/data
    healthcheck:
      # 检查集群健康状态
      test: ["CMD-SHELL", "curl -s -f http://localhost:9200/_cluster/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s  # ES 启动需要时间
    networks:
      - app-network
  
networks:
  app-network:
    driver: bridge


volumes:
  docker-certs:
  # dind-cache:
  # dind-storage:
  #   driver: local
  # docker-sock: