:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;

}


.trigger:hover {
  color: #1890ff;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  display: block;
  height: 40px;
  padding: 0;
  background: #202020;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

nz-content {
  margin: 1 0 0 0;
}

.inner-content {
  background-color: #545454;
  height: 100%;
}
 ::ng-deep  .ant-popover-inner {
  width: 200px !important;
  height: 90px !important;
  margin-top: -25px !important;
  margin-right: -20px;
}
.ant-popover-inner-content {
  padding: 20px !important;
  width: 120px !important;
   margin-top: -20px !important;
}

.menubtn{
  margin: 0px;
  padding: 4px;
  line-height: 20px;
  height: 25px;
}